<!DOCTYPE html>
<html>
<head>

    <title>12chan</title>
    <style>
        header {
            background-color: gray;
            width: 100%;
            font-size: 14px;
            font-family: monospace;
        }
        body{
            margin: 0 !important;
            padding: 0 !important;
        }
        .post{
            background-color: darkkhaki;
            width: 80%;
            height: 200px;
            margin: 20px;

        }
        .posts{
            display:flex ;
        }
    </style>
</head>
<body>
    <header>
        działy: 
        {%for section in sections%}
            <a href="/section/{{section.name}}">{{section.name}}</a>, 
        {%endfor%}
    </header>
    <div class="posts">
    {%for i in posts%}
    <pre class="post">
        <b>{{i.title}}</b>
        <br>
        {{i.content}}
    </pre>
    {%endfor%}
    </div>
</body>
</html>